

.Prizes{
    width: 30rem;
    // width: fit-content;
    margin: 2vw;
    text-align: left;
}
.PrizeHeading h1{
    font-size: 5rem;
    font-weight: 700;
    font-family: 'Nunito', sans-serif;
    margin-bottom: 6rem;
}

.Prizes p{
    color: rgb(102, 98, 98);
}
.Prizes .first{
    color:#A239EA;
}

.Prizes .second{
    color:#39A2DB;
}

.Prizes .third{
    color:#FF616D;
}

.Prizes .fourth{
    color:#3C8DAD;
}

.Prizes .fifth{
    color:#BF1363;
}

.Prizes .sixth{
    color:#ccf31f;
}

.Prizes .seventh{
    color:#96ec85;
}
