.Sponsor{
  transition: 0.3s;
  display: flex;
  justify-content:center;
  margin: 4rem;
}
.Sponsor:hover{
  transform: scale(1.2);
}
.hoichoi{
  width : 75vw;
}
.Sponsor img{
    width: 20rem;
}
.red{
  background: radial-gradient( #eb9681 0%, #ffffff 70%);
  border-radius: 50%;
  width: 25rem;
  height: 10rem;
}
.seagreen{
  background: radial-gradient( #63f8df 0%, #fcfbfb 70% );
  border-radius: 50%;
  width: 25rem;
  height: 10rem;
}
.seagreen2{
  background: radial-gradient( #63f8df 0%, #fcfbfb 70%);
  border-radius: 50%;
  width: 30rem;
  height: 30rem;
  margin: 0rem;
}

.shead{
    font-size: 6rem;
    margin-bottom: 6rem;
   margin-top: -3rem;
}

.sponsorUS {
  margin-bottom: 7rem;
}

/* more smaller */
@media  (max-width: 570px){
  .shead{
    margin-top:0;
  }
//   .Sponsor img{

//   margin-bottom: 3rem;
// }
}
  .Sponsor img{
 
   -webkit-animation: mover 1s infinite  alternate;
   animation: mover 1s infinite  alternate;
  }
  @-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
  }
  @keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
  }
